<h1>All Users: {{ users.size }}</h1>

<form action="/users/search" method="get">
  <input type="text" name="query" value="{{ params.query }}">
  <input type="submit" value="Search">
</form>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.full_name }}</td>
        <td>{{ user.gender] }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.created_at }}</td>
        <td>
          <a data-turbo-method="delete"
             data-turbo-confirm="Are you sure?"
             href="/users/{{user.id}}">
            Delete
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
